<h1>Thought#index</h1>
<p>Find me in app/views/thought/index.html.erb</p>

<p id="notice"><%= notice %></p>

<h1>Thoughts</h1>
<%= link_to 'New Thought', new_thought_path %>
<br></br>
<div id="top-emotion" style="border: 1px solid gray; text-align: center;">Placeholder for top used emotion Report Per Requirements</div>
<h6></h>



  </div>
</div>
